/target/
/build/*
!/build/stones/
!/build/stones/**
!/build/tickets/
!/build/tickets/**
!/build/toy_chess/
!/build/toy_chess/**
!/build/icc_minter_proxy_observer/
!/build/icc_minter_proxy_observer/**
